input,
textarea,
select {
    height: 40px;
    width :100%;
    border:gray 1px solid;
    padding-left: 10px;
    font-size: 14px;
}
textarea{
    padding-top: 15px;
    min-height: 60px;
}
input:focus, textarea:focus , select:focus {
    outline:none;
    border:#800000 solid 1.5px;
}
button{
    height: 40px;
}
.ant-form-item{
    margin-bottom: 8px;
}
